extends layout

block content
  style
    body
    {
      background-color:#fff;
    }
    /*h1, h2, h3, p {
      color: #fff;
    }*/
    .hero-unit {
      /*background-color: #00B4FF;*/
      background-color: #fff;
    }
    .btn {
      border:2px solid #fff;
      background-color: #00B4FF;
    }
    input {
      background-color: #fff;
    }
    h3{
      font-size:120%;
    }

  .container
    .hero-unit
      h1= title
      h2 Welcome!
      h2 This simple app queries
      h3 database names
      h3 table names
      h3 table structures
      h2 of <a href="https://confluence.walmartlabs.com/display/kosmix/BFD+Data+Catalog">@Labs' Hadoop/Hive cluster</a>.
      p try a search (ie: <a href="/search/item_info/0/100">item_info</a>).
      p
        form(action="/search", method="post")
          input(type="text", name="search", id="id_search", class="input-xxlarge", style="height:55px;margin-right:20px;font-size:200%")
          button(type="submit",name="search",id="submit",class="btn btn-primary btn-large",style="vertical-align:top") Search!
      p Warning: using other team's data without their permission can be very dangerous. It's up to each team's discretion to maintain or delete their data. Please contact the team if you wish to use their data in a production environment.
      p Please send all queries regarding the app to Han Jing, SDE for <a href="http://gifts.walmart.com">Walmart Gifts Finder</a>, hjing@walmartlabs.com, Bldg 850 C Fl 5, Loc C.5.188
