doctype 5
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://bootswatch.com/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href='http://bootswatch.com/default/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='http://bootswatch.com/css/bootswatch.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.6.2.min.js')
  body
    block content
